<div class="container">
  <h1>New Inverventions</h1>
</div>

<br>
<br>
<br>
<br>

<div class="field">
    <label>Customers</label>
    <%= form_with(scope: "customer") do |form| %>
        <%= form.select :id, @customers.map { |c| [c.name , c.id] }, 
        {:include_blank => "Select Customer"} %>
    <%end%>
</div>

<div class="field">
    <label>Building ID</label>
    <%= form_with(scope: "building") do |form| %>
        <%= form.select :id, @buildings.map { |b| [b.id] } %>
    <%end%>
</div>

<div class="field">
    <label>Battery ID</label>
    <%= form_with(scope: "battery") do |form| %>
        <%= form.select :id, @batteries.map { |bat| [bat.id] } %>
    <%end%>
</div>

<div class="field">
    <label>Column ID</label>
    <%= form_with(scope: "column") do |form| %>
        <%= form.select :id, @columns.map { |col| [col.id] } %>
    <%end%>
</div>

<div class="field">
    <label>Elevator ID</label>
    <%= form_with(scope: "elevator") do |form| %>
        <%= form.select :id, @elevators.map { |e| [e.id] } %>
    <%end%>
</div>

